.Container{
  position:absolute;
  left:30%;
  background-Color: aquamarine;
  bottom:40%;
}

.Sub-Container{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  
}

input{
  text-align:center;
  width:  1.5rem;
  margin: 10px;
  font-size: 1rem;
}

.btn{
  height: 2rem;
}